{% extends "layout.html" %} {% block content %}
<br />
<h1>Login</h1>
<br />
<div class="card-body">
  <form id="loginForm">
    <div class="form-group">
      <label>Email</label>
      <input
        type="text"
        class="form-control"
        name="username"
        autocomplete="username"
        required
      />
    </div>
    <div class="form-group mt-2">
      <label>Password</label>
      <input
        type="password"
        class="form-control"
        name="password"
        autocomplete="current-password"
        required
      />
    </div>
    <button type="submit" class="btn btn-primary mt-3">Login</button>
  </form>

  {% endblock content %}
</div>
