{% extends "layout.html" %} {% block content %}
<br />
<h1>Profile</h1>
<br />

<form id="profileForm">
  <div class="form-row">
    <div class="form-group col-md-6 mt-2">
      <label>Email</label>
      {% if user %}
      <input type="hidden" name="id" value="{{user.id}}" />
      {% else %}
      <input type="hidden" name="id" />
      {% endif %} {% if user %}
      <input
        type="text"
        class="form-control"
        name="email"
        required
        disabled
        value="{{user.email}}"
      />
      {% else %}
      <input type="text" class="form-control" name="email" required disabled />
      {% endif %}
    </div>
    <div class="form-group col-md-6 mt-2">
      <label>Name</label>
      {% if user %}
      <input
        type="text"
        class="form-control"
        name="name"
        required
        value="{{user.name}}"
      />
      {% else %}
      <input type="text" class="form-control" name="name" required />
      {% endif %}
    </div>
  </div>
  {% if current_user %}
  <button type="submit" class="btn btn-primary mt-3">Update</button>
  {% endif %}
</form>

{% endblock content %}
